<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>CrimeBusters</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>CrimeBusters</strong></h1>
        <h2>Find the latest news regarding local crime, observe the safety of different places on a national level, and learn how to protect yourself from crime.</h2>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>