<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
  <title>API</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="px-4 py-5 my-5">
    <h3>Crime News</h3>
    <table>
      <tr>
      <th>News</th>
      <th>News Link</th>
      <th>Source</th>
      </tr>
      <tr th:each="info : ${obj.data}">
        <td th:text="${info.title}"></td>
        <td th:text="${info.url}"></td>
        <td th:text="${info.source}"></td>
      </tr>
    </table>
  </div>
  <!-- End of body content specific to page -->
</th:block>
</body>

</html>